#
# Accessory Configuration
#

menuconfig ACCESSORY
	bool "Accessory devices"
	default n
	---help---
	Say Y here to get to see options for Samsung Accessories
	If you say N, all options in this submenu will be skipped and disabled.

if ACCESSORY

source "drivers/accessory/mhl/Kconfig"

endif # ACCESSORY
